<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="static\IMGS\imprimante.png" type="image/png"> 
    <title>Espace Admin- Esith copie center</title>
    <!-- CSS -->
    <link rel="stylesheet" href="static/CSS/acceuil_admin.css" />
    <!-- Boxicons CSS -->
    <link
        href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
        rel="stylesheet"
    />
</head>
<body>
    <h1>Bonjour , {{ admin_name }} !</h1>
    <nav>
        <div class="logo">
            <i class="bx bx-menu menu-icon"></i>
            <span class="logo-name">Esith Copie Center_Admin</span>
        </div>
        <div class="logo-center">
            <img src="static/IMGS/esith.png" alt="Logo" class="logo-img" /> <!-- Remplacez par le chemin correct -->
          </div>
        <div class="sidebar">
            <div class="logo">
                <i class="bx bx-menu menu-icon"></i>
                <span class="logo-name">Admin</span>
            </div>

            <div class="sidebar-content">
                <ul class="lists">
                    <li class="list">
                        <a href="{{ url_for('acceuil_admin') }}" class="nav-link">
                            <i class="bx bx-home-alt icon"></i>
                            <span class="link">DASHBOARD</span>
                        </a>
                    </li>
                    <li class="list">
                        <a href="{{ url_for('files') }}" class="nav-link">
                            <i class="bx bx-upload icon"></i>
                            <span class="link">FICHIERS</span>
                        </a>
                    </li>
                    <li class="list">
                        <a href="{{ url_for('historique_admin') }}" class="nav-link">
                            <i class="bx bx-history icon"></i>
                            <span class="link">HISTORIQUE</span>
                        </a>
                    </li>
                    <li class="list">
                        <a href="{{ url_for('logout') }}" class="nav-link">
                            <i class="bx bx-log-out icon"></i>
                            <span class="link">Déconnexion</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    

    <script src="static/JS/acceuil.js"></script>
</body>
</html>
